<!DOCTYPE html>
<html lang=pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KitsunAnimes | atari</title>
</head>
<body>
    <center>
        <p>Olá amigo parece que você encontrou meu easteregg aqui no site parabéns</br> como recompensa se divirta com alguns jogos que eu disponibilizei aqui em baixo. </br>A e se você achou esse lugar tweet ele pra mim <a href="https://twitter.com/f3l1p3d4rk">aqui meu twitter </a></br>e se caso você não usar twitter me chame no instagram <a href="https://instagram.com/luis._.felipin">aqui meu insta</a></p> </br>

        <li><a href="/atari/sneak">Jogo da cobrinha</a></li>
        <li><a href="/atari/pong">Ping pong</a></li>
        <li><a href="/atari/tetris">Tetris</a></li>
        <li><a href="/atari/jumper">Jumper</a></li>
        <li><a href="/atari/breakout">Tile break</a></li>
        <li><a href="/atari/frogger">jogo do sapinho</a></li>
    </center>
</body>
</html>